<mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>ag-Grid, material-next theme and Angular Material Components</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card id="grid-container">
    <mat-card-title>Used Cars for Sale</mat-card-title>
    <mat-card-content>
        <ag-grid-angular style="width: 100%; height: 350px;" class="ag-theme-material"
            [gridOptions]="gridOptions"
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            >
        </ag-grid-angular>
    </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
