$ag-icons-path: '~ag-grid/src/styles/icons/';
$ag-mat-icons-path: '~ag-grid/src/styles/material-icons/';

$grid-size: 4px; // 8 by default
$icon-size: 12px; // 18 by default

// Change the primary / accent colors
$ag-mat-primary: #1976d2;
$ag-mat-accent: #fbc02d;

@import '~ag-grid/src/styles/ag-grid.scss';
@import '~ag-grid/src/styles/ag-theme-material.scss';
